@import "../../variables";
@import "../../animations";

.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-left: 10%;
  padding-right: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.accordionListWrapper {
  margin-top: 120px;
}

.themeSwitcher {
  font-size: 1.8rem;
  margin-bottom: 120px;
}

.text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.title {
  font-weight: 500;
  margin-top: 5px;
}

.date {
  font-weight: 400;
  font-size: .8rem;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .pageContainer {
    padding-left: 3%;
    padding-right: 3%;
    overflow-x: hidden;
  }
}