.container {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  margin-bottom: 15px;
  column-count: 2;
}

.text {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 30px;
}

.title {
  font-weight: 500;
  margin-top: 5px;
}

.date {
  font-weight: 400;
  font-size: .8rem;
  margin-top: 5px;
}