@import "../../variables";

.appBackground {
  z-index: -666;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: -350px;
  right: -30px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateZ(12deg);
  pointer-events: none;
}

.darkThemeBackground {
  background-image: url("../../../public/dark_net.svg");
}

.lightThemeBackground {
  background-image: url("../../../public/light_net.svg");
}

@media (max-width: 1024px) {
  .appBackground {
    bottom: unset;
    right: unset;
    top: 200px;
    left: 55px;
  }
}