@import "../../animations";

.brackets {
  display: flex;

  span {
    opacity: 0;
    padding: 0 10px;
  }

  &:hover {
    span {
      opacity: 1;
      transition-duration: .4s;
    }
  }
}

.marqueeContainer {
  position: absolute;
  width: 100vw;
  height: 22px;
  bottom: 40px;
}

.marqueeWrapper {
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee {
  display: block;
  font-size: 20px;
}