.pageContainer {
  display: flex;
  height: calc(100% - 100px);
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  align-self: center;
}

.content {
  display: flex;
}

.pointerIcon {
  margin-left: 5%;
  width: 220px;
  height: 450px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.light {
  background-image: url("../../../public/pointer_dark.PNG");
}

.dark {
  background-image: url("../../../public/pointer_light.PNG");
}