.pageContainer {
  display: flex;
  height: calc(100% - 100px);
}

.title {
  align-self: center;
  margin-right: 10%;
}

.content {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.pointerIcon {
  width: 290px;
  height: 450px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-8deg);
}

.light {
  background-image: url("../../../public/pointer_dark.PNG");
}

.dark {
  background-image: url("../../../public/pointer_light.PNG");
}

@media (max-width: 1024px) {

  .pageContainer {
    align-items: center;
    justify-content: center;
  }

  .content {
    flex-direction: column-reverse;
    padding-bottom: 5vh;
  }

  .pointerIcon {
    height: 350px;
    margin-left: 35%;
    margin-bottom: 40px;
  }

  .title {
    font-size: 15vw;
    margin-right: 0;
  }
}