@import "../../variables";

.header {
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  padding-bottom: $TB_paddings;
}

.logo {
  width: 95px;
  height: 72px;
  margin-right: 20px;
  align-self: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &.light {
    background-image: url("../../../public/logo_dark.svg");
  }
  &.dark {
    background-image: url("../../../public/logo.svg");
  }
}



.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .link {
    padding: 10px;

    &:first-child {
      padding-bottom: 0;
    }
  }
}

.themeSwitcher {
  padding: 10px;
  margin-left: 20px;
}

.menuSwitcher {
  display: none;
}

@media (max-width: 1024px) {

  .header {
    border-bottom: none;
  }

  .link {
    display: none;
  }

  .themeSwitcher {
    display: none;
    background: #F81F1F;
  }

  .menuSwitcher {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;

    &.opened {

      &.light {
        background-image: url("../../../public/open_dark.svg");
      }
      &.dark {
        background-image: url("../../../public/open.svg");
      }

    }

    &.closed {

      &.light {
        background-image: url("../../../public/close_dark.svg");
      }
      &.dark {
        background-image: url("../../../public/close.svg");
      }
    }
  }
}