@import "../../../variables";

.wrapper {
  position: fixed;
  z-index: 666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}

.wrapperVisible {
  opacity: 1;
  pointer-events: all;
}

.light {
  background-color: $main_color_light;
  border: 2px solid $main_color_dark;
}

.dark {
  background-color: $main_color_dark;
  border: 2px solid $main_color_light;
}

.popupWrapper {
  min-width: 45%;
  padding: $TB_paddings;
  transform: scale(0);
  transition: 200ms;
  overflow: hidden;
}

.popupVisible {
  transform: scale(1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.closeBtn {
  font-size: 1.35rem;
}