@import "variables";

html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.1;

  &[data-theme="dark"] {
    background-color: $main_color_dark;
    color: $main_color_light;
  }

  &[data-theme="light"] {
    background-color: $main_color_light;
    color: $main_color_dark;
  }
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: $TB_paddings $LR_paddings;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

#root {
  height: 100%;
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

//reset

li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  font-weight: 500;
}

h1 {
  all: unset;
  font-weight: 800;
  font-size: 8rem;
}

h2 {
  all: unset;
  font-size: 1.35rem;
}

p {
  all: unset;
}