@import "variables";

html[data-theme="dark"] {
  background-color: $main_color_dark;
  color: $main_color_light;
}

html[data-theme="light"] {
  background-color: $main_color_light;
  color: $main_color_dark;
}

body {
  height: 100vh;
  margin: 0;
  padding: $TB_paddings $LR_paddings;
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
  font-weight: 400;
}

//reset

li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  font-weight: 500;
}