@import "variables";

html {
  box-sizing: border-box;

  &[data-theme="dark"] {
    background-color: $main_color_dark;
    color: $main_color_light;
  }

  &[data-theme="light"] {
    background-color: $main_color_light;
    color: $main_color_dark;
  }
}

body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: $TB_paddings $LR_paddings;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

#root {
}

//reset

li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  font-weight: 500;
}